name: Build Release App Bundle

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action
      - name: Run the Gradle package task
        uses: gradle/gradle-build-action
        with:
          arguments: -b ci.gradle package
      - uses: actions/upload-artifact@v3
        with:
          name: Package
          path: /*
